{% extends 'base\service_provider_base.html' %}
{% load static %}


{% block service_provider %}

    <div class="header-bg">
        <!-- Navigation Bar-->
        <header id="topnav">
            <div class="topbar-main">
                <div class="container-fluid">

                    <!-- Logo-->
                    <div>
                        <a href="index.html" class="logo">
                            SALCON
                        </a>
                    </div>
                    <!-- End Logo-->

                    <div class="menu-extras topbar-custom navbar p-0">
                       <div class = "h-arrange">

                        <li class = "nav-lists">
                            <a href="#"> Welcome {{user}} </a>
                        </li>

                        <li class = "nav-lists">
                            <div class = "drop">
                                <a href="#"> More </a>
                                    <ul class = "h-arrange-sub">
                            
                                        <li class = "h-arrange-list">
                                            <a data-toggle="modal" data-target="#exampleModalLong9"> Notification</a>
                                
                                        </li>

                                        <li class = "h-arrange-list">
                                            <a data-toggle="modal" data-target="#exampleModalLong10">Profile </a>
                                        </li>
                                    </ul>
                            <div>
                            

                        </li>

                        <li class = "nav-lists">
                            <a href="{% url 'auth:log-out'%}"> Logout </a>
                        </li>
                         
                       
                        
                       </div>
                        
                        

                    </div>
                    <!-- end menu-extras -->

                    <div class="clearfix"></div>

                </div>
                <!-- end container -->
            </div>
            <!-- end topbar-main -->

            <!-- MENU Start -->
            <div class="navbar-custom">
                <div class="container-fluid">

                    <div id="navigation">

                        <!-- Navigation Menu-->
                        <ul class="navigation-menu">

                            <li class="has-submenu">
                                <a href="{% url 'service_provider:service_provider_dashboard'%}"><i class="ti-home"></i> Dashboard</a>
                            </li>

                            <li class="has-submenu">
                                <a href="#" data-toggle="modal" data-target="#exampleModalLong">Create Services </a>
                                
                            </li>

                            <li class="has-submenu">
                                <a href="#" data-toggle="modal" data-target="#exampleModalLong7">Bookings </a>
                                
                            </li>

                            <li class="has-submenu">
                                <a href="#" data-toggle="modal" data-target="#exampleModalLong8"> Transactions </a>
                                
                            </li>

                            

                            
                        </ul>
                        <!-- End navigation menu -->
                    </div>
                    <!-- end #navigation -->
                </div>
                <!-- end container -->
            </div>
            <!-- end navbar-custom -->
        </header>
        <!-- End Navigation Bar-->

    </div>
    <!-- header-bg -->

    <div class="wrapper">
        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="row align-items-center">
                            <div class="col-md-8">
                                <h4 class="page-title m-0"> Service Provider Dashboard</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr>
            <div class = "row">
                {% if services  %}
            {% comment %} <div class = "row"> {% endcomment %}

                {% for service in services %}
                    {% if service.user == request.user %}
            
                        <div class="col-md-3" >
                            <div class="card">
                                <div class="card-heading p-4">
                                    <div class = "image"> 
                                        <img src="{{ service.image.url }}" alt="connect" >  
                                    </div>
                                    <div class = "s_name">
                                            <h4> {{ service.salon_name }} </h4>
                                            <a href = "#" data-toggle="modal" data-target="#exampleModalLong11"> Edit service </a>

                                    </div> 
                                            
                                </div>
                            </div>
                        </div>
                    {% endif %}

                

                

                {% endfor %}
            </div>
        
            
        
            
           

        
            
            {% else %}
            
            <div class = 'no-service'>
                <h4> 
                    No service created. <br>To create a service, use the create service button above.<br> THANK YOU
                 </h4>
            </div>
            
                
                
            {% endif %}
           

        </div>
    </div>
        <!-- end wrapper -->

        <!-- models section -->

        <!-- pop up view for creating services -->
        <!-- Modal -->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Create service</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    {% comment %} <p> Create service </p> {% endcomment %}

                    <form class="form-horizontal m-t-20", action="", method ="POST", enctype="multipart/form-data">
                        {% csrf_token %}

                    <div class="colums">
                        <div class="form-group">
                            <div class="col-12">
                                {{create_service.first_name.label}}
                                <div class="form-control">
                                    {{create_service.first_name}}
                                    
                                </div> 
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-12">
                                {{create_service.last_name.label}}
                                <div class="form-control">
                                    {{create_service.last_name}}
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-12">
                                {{create_service.salon_name.label}}
                                <div class="form-control">
                                    {{create_service.salon_name}}
                                </div>
                            </div>
                        </div> 

                        <div class="form-group">
                            <div class="col-12">
                                {{create_service.phone_number.label}}
                                <div class="form-control">
                                    {{create_service.phone_number}}
                                </div>
                            </div>
                        </div> 

                        <div class="form-group">
                            <div class="col-12">
                                {{create_service.salon_services.label}}
                                <div class="form-control">
                                    {{create_service.salon_services}}
                                </div>
                            </div>
                        </div> 

                        <div class="form-group">
                            <div class="col-12">
                                {{create_service.opening_and_closing_time.label}}
                                <div class="form-control">
                                    {{create_service.opening_and_closing_time}}
                                </div>
                            </div>
                        </div> 

                        <div class="form-group">
                            <div class="col-12">
                                {{create_service.location.label}}
                                <div class="form-control">
                                    {{create_service.location}}
                                </div>
                            </div>
                        </div> 

                        <div class="form-group">
                            <div class="col-12">
                                {{create_service.image.label}}
                                <div class="form-control">
                                    {{create_service.image}}
                                </div>
                            </div>
                        </div> 

                        <div class="form-group">
                            <div class="col-12">
                                {{create_service.salon_color.label}}
                                <div class="form-control">
                                    {{create_service.salon_color}}
                                </div>
                            </div>
                        </div> 
                             
                        


                    </div>

                    <div class="form-group text-center m-t-40">
                        <div class="col-12">
                            <button class="btn btn-primary btn-block btn-lg waves-effect waves-light" type="submit">Create Service</button>
                        </div>
                    </div>

                    <div class="form-group m-t-30 m-b-0">
                        <div class="col-sm-12 text-center">
                            <a href="{% url 'auth:log-in' %}" class="text-muted">Already have account?</a>
                        </div>
                    </div>
                               
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                {% comment %} <button type="button" class="btn btn-primary">Save changes</button> {% endcomment %}
                </div>
            </div>
            </div>
        </div>


         <!-- pop up view for bookings -->
        <!-- Modal -->
        <div class="modal fade" id="exampleModalLong7" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Booked Services</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    
                    <div class="col-lg-6">
                        
                                <h4 class="m-b-30 m-t-0">Booked Services List</h4>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="table-responsive">
                                            <table class="table table-dark mb-0">
                                                <thead>
                                                  <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col"> Service Name </th>
                                                    <th scope="col"> Service Type </th>
                                                    <th scope="col"> Time </th>
                                                    <th scope="col"> Status </th>

                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <tr>
                                                    <th scope="row">1</th>
                                                    <td>Mark</td>
                                                    <td>Otto</td>
                                                    <td>@mdo</td>
                                                  </tr>
                                                  <tr>
                                                    <th scope="row">2</th>
                                                    <td>Jacob</td>
                                                    <td>Thornton</td>
                                                    <td>@fat</td>
                                                  </tr>
                                                  <tr>
                                                    <th scope="row">3</th>
                                                    <td>Larry</td>
                                                    <td>the Bird</td>
                                                    <td>@twitter</td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                        </div>
                                    </div>
                                </div>
                            
                    </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                {% comment %} <button type="button" class="btn btn-primary">Save changes</button> {% endcomment %}
                </div>
            </div>
            </div>
        </div>


          <!-- pop up view for transactions -->
        <!-- Modal -->
        <div class="modal fade" id="exampleModalLong8" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Transactions </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <div class="col-lg-6">
                        
                        <h4 class="m-b-30 m-t-0">List Of Transactions</h4>
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table class="table table-dark mb-0">
                                        <thead>
                                          <tr>
                                            <th scope="col">#</th>
                                            <th scope="col"> Transaction ID  </th>
                                            <th scope="col"> Transaction Type </th>
                                            <th scope="col"> Amount </th>
                                            <th scope="col"> Status </th>

                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <th scope="row">1</th>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">2</th>
                                            <td>Jacob</td>
                                            <td>Thornton</td>
                                            <td>@fat</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">3</th>
                                            <td>Larry</td>
                                            <td>the Bird</td>
                                            <td>@twitter</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                </div>
                            </div>
                        </div>
                    
            </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                {% comment %} <button type="button" class="btn btn-primary">Save changes</button> {% endcomment %}
                </div>
            </div>
            </div>
        </div>


          <!-- pop up view for bookings -->
        <!-- Modal -->
        <div class="modal fade" id="exampleModalLong9" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Notifiacteion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <p> Notification </p>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
            </div>
        </div>



          <!-- pop up view for bookings -->
        <!-- Modal -->
        <div class="modal fade" id="exampleModalLong10" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Profile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    {% comment %} <p> User Profile </p> {% endcomment %}
                    <div class = "profile-image">
                        image
                        <img> </img>
                    </div>

                    <div class = "profile-username">
                        <h4>Username :</h4>
                        {{username}}
                    </div>

                    <div class = "profile-email">
                        <h4> Email : </h4>
                        {{email}}
                    </div>

                    <div class = "profile-password">
                        <h4> Password : </h4>
                        {{password}}
                    </div>
                    <div class= "change_password_button">
                        <a href = "#"> Change Password </a>
                    </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                {% comment %} <button type="button" class="btn btn-primary">Save changes</button> {% endcomment %}
                </div>
            </div>
            </div>
        </div>



        <div class="modal fade" id="exampleModalLong11" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Edit Services</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <h5> edit service </h5>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
            </div>
        </div>


        <!-- end of model -->

       <!-- Footer -->
     <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    © 2022 SalCon <span class="d-none d-md-inline-block"> - Crafted with <i class="mdi mdi-heart text-danger"></i> by MergeDesign.</span>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->

{% endblock %}

       